:root {
  --main-color: #56638a;
}

body {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

div  {
  font-family: arial;
  font-weight: bold;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.fl-start-col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.centralize-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.centralize-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.transparent-bg {
  background-color: rgba(0,0,0,0);
}

.landing-area{
  height: 100vh;
  width: 80%;
}

.landing-area::after {
  display: block;
  position: absolute;
  content: "";
  z-index: -1;
  width: 100%;
  height: 100%;
  background-image: url("./assets/dot-grid.png");
}

.banner {
  font-size: 65px;
}

.bohio-diagram {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.overlay {
  z-index: 2;
  position: absolute;
  width: 100%;
  height: 80px;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.navbar {
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: ;
  position: fixed;
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav-area {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}


.logo {
  height: 80px;
}

.nav-items {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav-item:hover {
  color : gray;
  cursor: pointer;
}

.call-to-action{
  border-radius: 5px;
  height: auto;
  width: auto;
  padding: 15px;
  background-color: pink;
  font-size: 20px;
  cursor: pointer;
}

.call-to-action:hover {

}

.section {
  width: 80%;
  height: 100vh;
}

.movement-area, .pricing-area, .features-area {
  height: 100%;
  width: 80%;
}

#features {
  background-image: url("./assets/dot-grid.png");
/*  background: rgb(36,110,185);
  background: linear-gradient(140deg, rgba(36,110,185,1) 0%, rgba(76,185,68,1) 68%);
  */width : 100%;
}

.features {
  width: 100%;
  height: 70%;
  background: white;
  padding-top: 10px;
  justify-content: center;
  align-items: center;
}

.feature-row {
  height: 75%;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.feature {
  box-shadow: 2.5px 2.5px 2.5px lightgrey;
  height: 70%;
  width: 25%;
}

.feature-section {
  width: 100%;
  height: 50%;
}

.feature-text {
  text-align: justify;
  margin: 10px;
}

.pricing {
  width: 100%;
  height: 70%;
  align-items: center;
  justify-content: space-between;
  padding-left: 20%;
  padding-right: 20%;
  color: white;
}

.price {
  margin: 5%;
  height: 80%;
  width: 40%;
//  border: 1px solid var(--main-color);
  border-radius: 5px;
  background: white;
  box-shadow: 2.5px 2.5px 2.5px lightgrey;
}

.pricing-area::after {
  display: block;
  position: absolute;
  content: "";
  z-index: -1;
  width: 100%;
  height: 100%;
  background-image: url("./assets/dot-grid.png");
}

.amount {
  height: 33.33%;
  width: 100%;
}

li {
  margin: 10px;
  font-size: 150%;
}

.greens {
  font-size: 300%;
  color: var(--main-color);
}

.includes {
  height: 66.66%;
  width: 100%;
  background: var(--main-color);
}

.movement-area{
  padding-top: 50px;
  color: white;
}

.movement-area::after {
  display: block;
  position: absolute;
  content: "";
  z-index: -1;
  width: 100%;
  height: 100%;
  background-image: url("./assets/indoor-farm.jpg");
  filter: brightness(30%);
}

.movement-banner, .blog, .signup-form, .social {
  height: 22%;
  width: 60%;
  margin-top: 1px;
  text-align: center;
}

form, input {
  margin-top: 30px;
  margin-bottom: 30px;
}

.social-icon {
  height: 30px;
  width: 50px;
}

a {
  color: lightgrey;
}
